
@model AssetTracker.Core.Models.PurchaseOrderDetail

@using (Html.BeginForm("Create", "PurchaseOrderDetail"))
{
    <table class="table">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <tr>
            @*<td>
                @Html.DropDownList("ProductId", new SelectList(ViewBag.Product, "Id", "Name"), "Select Product", new { @class = "form-control" })
            </td>*@
            <td>
                @Html.EditorFor(c => c.UnitPrice)
            </td>
            <td>
                @Html.EditorFor(c => c.Qty)
            </td>
            <td>
                @Html.EditorFor(c => c.TotalPrice)
            </td>
            <td>
                @Html.EditorFor(c => c.WarrantyPeriod)
            </td>
            <td>
                @Html.EditorFor(c => c.Serial)
            </td>
            <td>
                @Html.EditorFor(c => c.Description)
            </td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}



