@model AssetTracker.Core.Models.Organization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Entry</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron"></div>
<div class="col-md-12">
    @using (Html.BeginForm("Entry", "Organization", new {@class = "form-inline"}))
    {        
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Code)
                    @Html.TextBoxFor(m => m.Code, new {@class = "form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Location)
                    @Html.TextBoxFor(m => m.Location, new {@class = "form-control"})
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
             
           
             <div class="col-md-8">

                 <table class="table table-hover">
                     <thead>
                         <tr>
                             <th>Organization Name</th>
                             <th>Organization Code</th>
                             <th>Organization Location</th>
                         </tr>
                     </thead>
                     <tbody>
                         @foreach (var item in ViewBag.Organization)
                         {
                             <tr>
                                 <td>@item.Name</td>
                                 <td>@item.Code</td>
                                 <td>@item.Location</td>
                             </tr>
                         }
                     </tbody>
                 </table>
             </div>
    }
   
</div>

    <script src="~/Asset/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="~/Asset/js/jquery-1.12.1.min.js"></script>
    <!-- jQuery REVOLUTION Slider -->
    <script type="text/javascript" src="~/Asset/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/Asset/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script src="Scripts/jquery.validate.min.js"></script>
    <script src="Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
